body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right,#2E51A2,#1B7AC2);
}

html{
  height:100%;
  width:100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.lw1{
  color:rgba(255, 255, 255, 0.6);
}

.mainNav{
    background: linear-gradient(to right,#2E51A2,#1B7AC2);
}

.inputBox{
  width: 100%;
  background: none;
  border: none;
  padding: 20px;
  color:white;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-left: 1px solid rgba(255,255,255,.4);
  border-top: 1px solid rgba(255,255,255,.4);
  border-bottom: 1px solid rgba(255,255,255,.4);
  border-right: none;
  background-color: rgba(255, 255, 255, 0.05);
    box-sizing:border-box;
}
.inputBox:hover, .inputBox:focus{
  outline: none;
}
.inputBox::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color:white;
  opacity: 0.6; /* Firefox */
}

.searchButton{
  background:none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-right: 1px solid rgba(255,255,255,.4);
  border-top: 1px solid rgba(255,255,255,.4);
  border-bottom: 1px solid rgba(255,255,255,.4);
  border-left:none;
  background-color: rgba(255, 255, 255, 0.05);
  box-sizing:border-box;
  padding:20px 15px;
  color:rgba(255,255,255,.8);
}
.cardImg{
    height:300px;
    object-fit:cover;
    border-top-left-radius:8px;
    border-top-right-radius:8px;
}

.searchButton:focus, .searchButton:hover{
  box-shadow: inset 1px -1px 4px 0px #2a496285;
  outline: none;
}

.cardContainer{
  border-radius:8px;
  display: flex;
  flex-direction: column;
}

.cardText{
  color: black;
  font-weight: bold;
  background: white;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 17px 11px;
  font-size: 1.12em;
  line-height: 1.2;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.loader{
    background: linear-gradient(300deg, #2e51a2, #a4cfef);
    background-size: 400% 400%;

    -webkit-animation: loaderAnimation 4s ease infinite;
    -moz-animation: loaderAnimation 4s ease infinite;
    animation: loaderAnimation 4s ease infinite;
    box-shadow: inset -1px -1px 1px 0px #365eb7;
    color:white;
}

@-webkit-keyframes loaderAnimation {
    0%{background-position:0% 10%}
    50%{background-position:100% 91%}
    100%{background-position:0% 10%}
}
@-moz-keyframes loaderAnimation {
    0%{background-position:0% 10%}
    50%{background-position:100% 91%}
    100%{background-position:0% 10%}
}
@keyframes loaderAnimation {
    0%{background-position:0% 10%}
    50%{background-position:100% 91%}
    100%{background-position:0% 10%}
}
@media screen and (max-width:992px) {

}

@media screen and (max-width:768px) {
  .cardImg{
    height: 200px;
  }
  .cardText{
    font-size:1rem;
    padding:8px 8px;
  }
}

@media screen and (max-width: 576px) {
  .cardImg{
    height: 200px;
  }
  .cardText{
    font-size:0.8rem;
    padding:8px 6px;
  }
}
